* {
    margin: 0;
    padding: 0;
}

/* .container{
    height: 100px;
    width: 100px;
    background-color: purple;
}
.page1 > div{
    position: relative;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: orangered;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: pink;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
}
.page1{
    background-color: red;
    }
.page2{
    background-color: skyblue;
}*/
.page5{
    background-color: rgb(251, 0, 255);
    } 
.page {
    height: 100vh;
    width: 100%;
}
.page3 {
    background-color: lightgreen;
    display: flex;
    align-items: center;justify-content: center;font-size:50px
}
.page4 {
    background-color: rgb(255, 238, 0);
}

.page4 > div {
    padding: 100px;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
}
.page4 h1{
    font-size: 50px;
    text-align: center;
}
.page4 h1 span{
    font-style: italic;
    color: green;
}
.page4 .image{
    height: 300px;
    width: 150px;
    margin: auto;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page4 .image img{
    height: 200px;
    width: 200px;
}
.text-scroll {
    position: absolute;
    word-wrap: nowrap;
    z-index: 5;
    left: -30px;
    top: 50%;
    rotate: -7deg;
    background: white;
    width: 120%;
    overflow: hidden;
    border: 10px solid black;
}
.text-scroll h1{
    text-wrap: nowrap;
    position: relative;
    width: 100%;
    animation: moveText linear 10s infinite;
}

@keyframes moveText {
    0%{
        left: 0%;
    }
    100%{
        left: -50%;
    }
}